.aboutbg{
    /* background-image: url("https://i.ibb.co/ZLhDswy/942d98dc6ed0fff7eaa89fa8b7d17802.jpg"); */
    /* background-image: url("https://i.ibb.co/R4YVfbL/realme.jpg"); */
    /* background-image: url("https://i.ibb.co/ZKZmQ6L/realme-2.jpg"); */
    /* background-image: url("https://i.ibb.co/85ZD0SR/banner-bg.jpg"); */
    /* background-image: linear-gradient(to right, #329262, #55929c); */
    /* background-image: linear-gradient(to right, #99D0CA, #004e92); */
    background-image: linear-gradient(to right, #99D0CA, #922900);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}