/* .bg-banner{
    width: 100%;
    height: auto;
    background-image: url("https://i.ibb.co/85ZD0SR/banner-bg.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
} */
img{
    width: 100%;
    height: auto;  
}