.card{
    
    width: 15rem;
    padding-bottom: 7px;
    margin-bottom: 20px;
    padding-top: 7px;
    
 }
.card:hover{
box-shadow: 5px 10px 25px 5px #004e92!important;
}
.card-body{
    padding: 1rem 0!important;
    
}
.card-img-top{
   
    width: 170px;
    height: 200px;
    transform: scale(1);
    transition: .7s ease;
}
.card-img-top:hover{
    width: 200px;
    height: 190px;
}
.hover:hover{
 
    color: rgb(30, 136, 230);
    }
.button-hover{
   
    background-color: #000;
    border: 3px solid #000;
    color: rgb(250, 249, 244);
}
.button-hover:hover{
   
    background-color:  rgb(30, 136, 230);
    color: rgb(15, 15, 15);
    border: 3px solid white;
}
.card-title{
    color: #131212;
    font-weight: 500;
    font-size: small;
}
.price{
    color: #757575;
    font-weight: 700;
   
}
.cart{
    color: #212529;
}
.cart:hover{
    color: rgb(30, 136, 230);
}
.product-size{
    font-weight: 650;
    font-size: 50px;
    color: #212529;
}
.shadow-color{
    box-shadow: 5px 5px 10px 5px #99D0CA!important;
}
.gap {
    margin-top: -190px;
}
