.background{
    background-image: linear-gradient(to right, #004e92, #99D0CA);
}
.decoration{
    text-decoration: none;
    color: rgb(7, 7, 7);
}
.header{
    margin-bottom: 20px;
    color: rgb(15, 15, 15);
}